{% extends 'partials/ext-base.html' %}




{% block title1 %} My Wallet {% endblock title1 %}




{% block content1 %}

<aside class="right-side" style="background-color: #000000;">

 <!-- Main content -->
           <section class="content" style="background-color: #000000;" >  

     
     <!-- Main row -->

     <div class="row">

   

       <div class="col-lg-12">
   
<section class="panel" style="background-color: #101113;color: white; margin: 10px;">
             <header class="panel-heading" style="   background-color:#101113; color:#fff; font-weight:bold; border-bottom:#101113;">
                  UPDATE WALLET
               </header>
                     <div class="panel-body">
                     
                      {% for message in messages %}
                      {% if 'success' in message.tags %}
                      <h5 style="color: #0fff07;text-align: center; font-style: italic;">{{message}}</h5>
                      {% elif 'info' in message.tags %}
                      <h5 style="color: #e20808;text-align: center;font-style: italic;">{{message}}</h5>
                      {% endif %}
                      {% endfor %}
                  
                  
        <div class="container-fluid"><!--Statistics cards Starts-->

<div class="row">
<div class="col-sm-12">
 <form method="POST" action="" class="box-body">
  {%  csrf_token %}
<div class="form-group">
<label>Select wallet type </label>
 <h5 class="title" style="color:red;"></h5>
<select required="required" name="coin" class=" form-control">
 <option value="BTC">Bitcoin </option>
 <option value="ETH">Ethereum </option>
 <option value="LTC">LiteCoin</option>

<option value="TRC-20">TRC 20</option>

</select>
</div>
<div class="form-group">
<label>Wallet Address </label>
<input class="form-control" name="wallet_ad" required="required" placeholder="Enter wallet address" value="">
</div>
<br>
<input class="btn btn-warning" type="submit" value="UPDATE">
</form>

</div>

<div class="col-sm-12" >
      <table class="table  table-striped" style="color: white;">
<caption>Added wallets </caption>
<thead><tr><th>Wallet </th><th>Address </th> <th>Status </th><th>Action</th></tr></thead>
{% for was in wad reversed %}
<tbody style="color: green;">
                    
    <tr>
      {% if forloop.first %}
        <td>{{was.coin}}</td>
        <td>{{was.wallet_ad}}</td>
        <td>Active</td>
        <td> <input type="checkbox" checked="checked"></td>
        {% endif %}
        </tr>
        
              </tbody>
      {% endfor %} 
            </table>
</div>
      
  </div>
  
      
</div>		

                                          
                                       
                                                
                 </div>
             </section>
    </div><!--end col-6 -->

      
                  
      
      
      
      

  </div>

<!-- row end -->
</section><!-- /.content -->
<div class="footer-main" style=" margin-top :20px; background-color:#101113; color:#fff; border-top:#101113;">
  Copyright &copy Bestfuturetrade , 2022                </div>
</aside><!-- /.right-side -->

</div><!-- ./wrapper -->




{% endblock content1 %}